server:
  port: 7002
log:
  path: ./
rmq:
  nameserver: 10.3.246.190:9876
  producer:
    groupname: rfs-test-producer-group
    topics:
      orderStateChange: order_state_change
  consumer:
    groupname: rfs-test-consumer-group
    topics:
      orderStateChange: order_state_change
    groupname2: rfs-test-consumer-group2
task:
  pool:
    # 核心线程池大小
    core-pool-size: 10
    # 最大线程数
    max-pool-size: 30
    # 活跃时间
    keep-alive-seconds: 60
    # 队列容量
    queue-capacity: 50